{
  "openapi": "3.0.3",
  "info": {
    "title": "Workspaces Service API",
    "version": "1.0.0",
    "description": "API for managing workspaces, tasks, and comments"
  },
  "servers": [
    {
      "url": "https://api.quiva.ai",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/workspaces/spaces": {
      "get": {
        "summary": "List all spaces",
        "description": "Returns every space in the account. The response always includes a built-in `ESCALATE` space (used for human-in-the-loop escalations from flows); it cannot be updated or deleted.",
        "operationId": "listSpaces",
        "x-resource-type": "service",
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space": {
      "post": {
        "summary": "Create a space",
        "operationId": "createSpace",
        "x-resource-type": "service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space/{id}": {
      "get": {
        "summary": "Get a space by ID",
        "operationId": "getSpace",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a space",
        "description": "Merges the fields you send over the stored space \u2014 send only the fields you are changing. The built-in `ESCALATE` space cannot be updated and returns 403.",
        "operationId": "updateSpace",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "202": {
            "description": "Update accepted, with a background re-assignment queued. This happens when a priority you removed was still in use by existing tasks \u2014 those tasks are reassigned to the fallback priority (the space's default, or the first remaining one)."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a space",
        "description": "Deletes a space and purges its tasks, comments, and files. Irreversible. The built-in `ESCALATE` space cannot be deleted and returns 403.",
        "operationId": "deleteSpace",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space deleted"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/space/{space_id}/tasks": {
      "get": {
        "summary": "List tasks in a space",
        "operationId": "listTasks",
        "x-resource-type": "service",
        "parameters": [
                {
                    "name": "space_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "archived",
                    "in": "query",
                    "schema": {
                        "type": "boolean"
                    }
                },
                {
                    "name": "scheduled",
                    "in": "query",
                    "schema": {
                        "type": "boolean"
                    }
                },
                {
                    "name": "limit",
                    "in": "query",
                    "description": "How many maximum results should be returned",
                    "schema": {
                        "type": "integer",
                        "default": 300
                    }
                },
                {
                    "name": "offset",
                    "in": "query",
                    "description": "If there are more results than the limit, offset can be used to get to the next batch of results",
                    "schema": {
                        "type": "integer",
                        "default": 0
                    }
                },
                {
                    "name": "sort_by",
                    "in": "query",
                    "description": "Name of the field used for sorting the list of results",
                    "schema": {
                        "type": "string",
                        "default": "created_at"
                    }
                },
                {
                    "name": "sort_order",
                    "in": "query",
                    "description":"Should the results be sorted in ascending or descending order relative to sort_by field",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "default": "asc"
                    }
                },
                {
                    "name": "created_by",
                    "in": "query",
                    "description": "Exact match on the user ID of the task creator",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "priority",
                    "in": "query",
                    "description": "Exact match on priority; comma-separated values to filter by priority",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "status",
                    "in": "query",
                    "description": "Exact match on status; comma-separated values to filter by multiple statuses",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "title",
                    "in": "query",
                    "description": "Term search on task title",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "assignees",
                    "in": "query",
                    "description": "Comma-separated assignee IDs; at least one must match",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "reporter",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "created_at",
                    "in": "query",
                    "description": "Filter by creation date. Use a single date or a range as `{start_date},{end_date}`",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "updated_at",
                    "in": "query",
                    "description": "Filter by last-updated date. Use a single date or a range as `{start_date},{end_date}`",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "scheduled_at",
                    "in": "query",
                    "description": "Filter by scheduled date. Use a single date or a range as `{start_date},{end_date}`",
                    "schema": {
                        "type": "string"
                    }
                }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task": {
      "post": {
        "summary": "Create a task",
        "operationId": "createTask",
        "x-resource-type": "service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/tasks": {
      "patch": {
        "summary": "Update multiple tasks",
        "operationId": "updateMultiTask",
        "x-resource-type": "service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMultiTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results indexed by task position in the input array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{id}": {
      "get": {
        "summary": "Get a task by ID",
        "operationId": "getTask",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a task",
        "operationId": "updateTask",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a task",
        "operationId": "deleteTask",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/action": {
      "put": {
        "summary": "Create or update a task checklist action",
        "description": "Upsert a checklist action on a task. There is no separate create endpoint \u2014 PUT is used for both create and update.\n\nOmit `id` to create a new action (the server assigns one); pass an existing `id` to update that action. `description` is required on every write, including updates that only change `done`.\n\nThe response echoes back the action as submitted, not the stored record \u2014 it does not reflect how a partial update merged with the existing action.",
        "operationId": "setTaskAction",
        "tags": [
          "Task Actions"
        ],
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "Task id the action hangs off.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The action as submitted (echoed back, not read back from storage).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "summary": "List task checklist actions \u2014 currently unavailable",
        "description": "Intended to return the checklist actions on a task, but this endpoint is currently misrouted server-side and always responds with a 400 validation error instead of a list.\n\nUntil this is fixed, checklist actions are write-only: keep track of the `id` you get back when you create or update an action, since it cannot be listed or read back afterward.",
        "operationId": "listTaskActions",
        "deprecated": true,
        "tags": [
          "Task Actions"
        ],
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "Task id the action hangs off.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of checklist actions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskAction"
                      }
                    },
                    "results_total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/action/{id}": {
      "delete": {
        "summary": "Delete a task checklist action",
        "description": "Removes one checklist action. Returns `{ \"message\": \"success\" }` with a 200 status.",
        "operationId": "deleteTaskAction",
        "tags": [
          "Task Actions"
        ],
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "Task id the action hangs off.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Action id (assigned by the server unless you supplied one on create).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment": {
      "post": {
        "summary": "Create a comment on a task",
        "operationId": "createComment",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comments": {
      "get": {
        "summary": "List comments on a task",
        "operationId": "listComments",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment/{id}/reaction": {
      "post": {
        "summary": "Add or remove a reaction on a comment",
        "operationId": "reactToComment",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentReactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment/{id}": {
      "get": {
        "summary": "Get a comment by ID",
        "operationId": "getComment",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a comment",
        "operationId": "updateComment",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "x-resource-type": "service",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SpaceStatus": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "e.g. To Do, In Progress, Done"
          },
          "color": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "is_visible": {
            "type": "boolean",
            "nullable": true
          },
          "complete": {
            "type": "boolean",
            "description": "If true, when a task reaches this state, it will not be considered overdue past the due date.",
            "example": true
          }
        }
      },
      "CreateSpaceRequest": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the space. Tasks belonging to the space receive IDs prefixed with this value. Must consist of letters, numbers, and underscores only."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateSpaceRequest": {
        "type": "object",
        "description": "Fields are merged over the stored space \u2014 send only what you are changing. The space id comes from the path, not the body.",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "priorities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "default": {
                  "type": "boolean"
                }
              }
            },
            "description": "Task priority definitions. Removing a priority that tasks still reference queues a background re-assignment onto the fallback priority (the default, or the first), and the update returns 202 instead of 200."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                }
              }
            },
            "description": "Space-level tag definitions."
          },
          "logo": {
            "type": "boolean",
            "description": "Whether the space has a logo set."
          },
          "default_view": {
            "type": "string",
            "description": "Default board/list view for the space."
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this space"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "owner": {
            "type": "string",
            "readOnly": true,
            "description": "ID of the user who created the space, set by the backend"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SpaceList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Space"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this task"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Assigned user IDs."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "created_by": {
            "type": "string",
            "readOnly": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "space_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 date-time at which the task is scheduled. Archiving the task clears it."
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the task is archived."
          },
          "order": {
            "type": "number",
            "description": "Sort order of the task within its column/board."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tag ids on the task."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary metadata bag stored on the task."
          },
          "watchers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "User ids watching the task. Only present on the get-task response, not stored on the task record."
          },
          "muted": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "User ids who muted the task. Only present on the get-task response."
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Assigned user IDs."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Initial status id. If omitted and `space_id` is set, the task inherits the space's `default_status`."
          },
          "space_id": {
            "type": "string",
            "description": "Parent space id. If omitted, the task lands in the default space. The task id is server-generated; any id you send is ignored."
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 date-time. A date-only value can fail to round-trip."
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 date-time to schedule the task."
          },
          "archived": {
            "type": "boolean",
            "description": "Create the task in an archived state."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tag ids."
          }
        }
      },
      "UpdateTaskRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateTaskRequest"
          },
          {
            "type": "object",
            "required": ["id"],
            "properties": {
              "id": {
                "type": "string"
              },
              "archived": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "UpdateMultiTaskRequest": {
        "type": "object",
        "required": ["tasks"],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateTaskRequest"
            }
          }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "TaskAction": {
        "type": "object",
        "required": [
          "description"
        ],
        "description": "A checklist item on a task. `description` is required on every write, not only on create \u2014 an update that only flips `done` still has to resend it.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Action id. Omit on create and the server assigns one; pass an existing id to update that action.",
            "example": "ta_a1b2c3"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "What the action is. Required on every write.",
            "example": "Confirm the report has been proofread"
          },
          "done": {
            "type": "boolean",
            "description": "Whether the item is ticked off."
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskActionResource"
            },
            "description": "Platform resources linked from this action."
          }
        }
      },
      "TaskActionResource": {
        "type": "object",
        "required": [
          "resource_id",
          "resource_type"
        ],
        "description": "A platform resource linked from a checklist action. Both fields are free-form strings \u2014 the resource is not validated to exist.",
        "properties": {
          "resource_id": {
            "type": "string",
            "example": "onboarding-checklist"
          },
          "resource_type": {
            "type": "string",
            "example": "record-config"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Free-form metadata carried alongside the link."
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this comment"
          },
          "body": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "author": {
            "type": "string",
            "readOnly": true,
            "description": "User ID of the comment author, set by the backend"
          },
          "reactions": {
            "type": "object",
            "readOnly": true,
            "description": "Reactions aggregated by emoji. Keys are emoji characters.",
            "additionalProperties": {
              "$ref": "#/components/schemas/CommentReactionEntry"
            }
          },
          "reply_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": ["body"],
        "properties": {
          "body": {
            "type": "string",
            "description": "Plain text or markdown content"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reply_id": {
            "type": "string"
          }
        }
      },
      "UpdateCommentRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "reply_id": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "CommentReactionEntry": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of users who reacted with this emoji"
          },
          "users": {
            "type": "array",
            "description": "IDs of users who reacted with this emoji",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CommentReactionRequest": {
        "type": "object",
        "required": ["reaction"],
        "properties": {
          "reaction": {
            "type": "object",
            "description": "Map of emoji character to boolean. Set true to add the reaction, false to remove it.",
            "additionalProperties": {
              "type": "boolean"
            },
            "example": {
              "😛": true
            }
          }
        }
      },
      "CommentList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Authorization header using the Bearer scheme"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  }
}
