{
  "openapi": "3.0.3",
  "info": {
    "title": "Workspaces Service API",
    "version": "1.0.0",
    "description": "API for managing workspaces, tasks, and comments"
  },
  "servers": [
    {
      "url": "https://api.quiva.ai",
      "description": "Production API server"
    },
    {
      "url": "https://api.microstrate.io",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/workspaces/spaces": {
      "get": {
        "summary": "List all spaces",
        "operationId": "listSpaces",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.spaces",
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space": {
      "post": {
        "summary": "Create a space",
        "operationId": "createSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.space",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space/{id}": {
      "get": {
        "summary": "Get a space by ID",
        "operationId": "getSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a space",
        "operationId": "updateSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a space",
        "operationId": "deleteSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/space/{space_id}/tasks": {
      "get": {
        "summary": "List tasks in a space",
        "operationId": "listTasks",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.tasks",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task": {
      "post": {
        "summary": "Create a task",
        "operationId": "createTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/tasks": {
      "patch": {
        "summary": "Update multiple tasks",
        "operationId": "updateMultiTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.tasks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMultiTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results indexed by task position in the input array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{id}": {
      "get": {
        "summary": "Get a task by ID",
        "operationId": "getTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a task",
        "operationId": "updateTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a task",
        "operationId": "deleteTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment": {
      "post": {
        "summary": "Create a comment on a task",
        "operationId": "createComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comments": {
      "get": {
        "summary": "List comments on a task",
        "operationId": "listComments",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.comments",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment/{id}": {
      "get": {
        "summary": "Get a comment by ID",
        "operationId": "getComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a comment",
        "operationId": "updateComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SpaceStatus": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "e.g. To Do, In Progress, Done"
          },
          "color": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "is_visible": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "CreateSpaceRequest": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the space. Tasks belonging to the space receive IDs prefixed with this value. Must consist of letters, numbers, and underscores only."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateSpaceRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "owner": {
            "type": "string"
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "owner": {
            "type": "string",
            "readOnly": true,
            "description": "ID of the user who created the space, set by the backend"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SpaceList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Space"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "asignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "created_by": {
            "type": "string",
            "readOnly": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "space_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "asignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "space_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          }
        }
      },
      "UpdateTaskRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateTaskRequest"
          },
          {
            "type": "object",
            "required": ["id"],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "UpdateMultiTaskRequest": {
        "type": "object",
        "required": ["tasks"],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateTaskRequest"
            }
          }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "body": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "author": {
            "type": "string",
            "readOnly": true,
            "description": "User ID of the comment author, set by the backend"
          },
          "reactions": {
            "description": "Free-form reactions data"
          },
          "reply_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": ["body"],
        "properties": {
          "body": {
            "type": "string",
            "description": "Plain text or markdown content"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reactions": {
            "description": "Free-form reactions data"
          },
          "reply_id": {
            "type": "string"
          }
        }
      },
      "UpdateCommentRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "reactions": {
            "description": "Free-form reactions data"
          },
          "reply_id": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "CommentList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Authorization header using the Bearer scheme"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  }
}
