{
    "openapi": "3.0.3",
    "info": {
        "title": "Records Service API",
        "description": "Manages record configurations (schemas) and the records that conform to them.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.quiva.ai",
            "description": "Production API server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "paths": {
        "/records/config": {
            "get": {
                "summary": "List record configurations",
                "description": "Returns all record configurations in the account. Each configuration defines the schema (field names, types, validation rules) and UI hints for a category of records. Call this first to discover available record types before listing or querying records.",
                "operationId": "listRecordConfigs",
                "tags": [
                    "Record Configs"
                ],
                "x-resource-type": "service",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated config IDs to fetch a specific subset. Omit to return all configurations.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of record configurations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordConfigList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a record configuration",
                "description": "Defines a new category of records by specifying a schema (field names, types, validation constraints) and UI rendering hints. The `id` you choose becomes the `config_id` used in all subsequent record operations for this type. Returns 409 if a configuration with the same ID already exists.",
                "operationId": "createRecordConfig",
                "tags": [
                    "Record Configs"
                ],
                "x-resource-type": "service",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordConfigCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created record configuration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordConfig"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (invalid ID format, invalid schema, missing required fields)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A record configuration with the given ID already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/records/config/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Record configuration ID",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get a record configuration",
                "description": "Retrieves the full schema and UI layout for a specific record configuration. Use this to inspect field definitions and validation rules before creating or updating records of that type.",
                "operationId": "getRecordConfig",
                "tags": [
                    "Record Configs"
                ],
                "x-resource-type": "service",
                "responses": {
                    "200": {
                        "description": "Record configuration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordConfig"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record configuration not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a record configuration",
                "description": "Updates a record configuration. Schema changes do not retroactively affect existing records.",
                "operationId": "updateRecordConfig",
                "tags": [
                    "Record Configs"
                ],
                "x-resource-type": "service",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordConfigUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated record configuration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordConfig"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record configuration not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a record configuration",
                "description": "Deletes the configuration and its associated records storage bucket.",
                "operationId": "deleteRecordConfig",
                "tags": [
                    "Record Configs"
                ],
                "x-resource-type": "service",
                "responses": {
                    "200": {
                        "description": "Configuration deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/SuccessMessage"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record configuration not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/records": {
            "get": {
                "summary": "Query records",
                "description": "Search for records across a folder or space (index-backed). At least one of `folder` or `space_id` must be provided; a Bearer JWT is required \u2014 an API key alone is rejected on this endpoint. `folder`/`space_id` conditions are ANDed. Results are sorted by `created_at`.",
                "operationId": "queryRecords",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "parameters": [
                    {
                        "name": "folder",
                        "in": "query",
                        "required": false,
                        "description": "Folder ID to filter records by. At least one of `folder` or `space_id` must be provided.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "space_id",
                        "in": "query",
                        "required": false,
                        "description": "Space ID to filter records by. At least one of `folder` or `space_id` must be provided.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "config_id",
                        "in": "query",
                        "required": false,
                        "description": "Comma-separated config IDs to narrow the query. One ID is ANDed with the folder/space filter; multiple IDs form an OR group.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of records to return.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Number of records to skip (pagination).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required filter parameter or invalid authorization token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No records found matching the query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/records/{config_id}": {
            "parameters": [
                {
                    "name": "config_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the record configuration that records belong to",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "List records",
                "description": "Returns all records that belong to the given configuration. Use this to retrieve every data entry for a specific record type. For filtered or cross-type queries, use GET /records instead.",
                "operationId": "listRecords",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "responses": {
                    "200": {
                        "description": "List of records for the given configuration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/RecordList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a record",
                "description": "Creates a new record conforming to the specified configuration's schema. Record data is validated against the schema at creation time.",
                "operationId": "createRecord",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/Record"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error (missing required fields, type mismatch, invalid dropdown value)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record configuration not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/records/{config_id}/{id}": {
            "parameters": [
                {
                    "name": "config_id",
                    "in": "path",
                    "required": true,
                    "description": "ID of the record configuration that the record belongs to",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Record ID",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get a record",
                "description": "Retrieves a single record by its ID within a given configuration. Returns the full data object and metadata (id, created_at, updated_at). Obtain the record ID from a list or query operation first.",
                "operationId": "getRecord",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "responses": {
                    "200": {
                        "description": "Record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/Record"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a record",
                "description": "Updates a record. Provided data fields are merged into the existing record data. The merged result is validated against the current schema.",
                "operationId": "updateRecord",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/Record"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a record",
                "description": "Permanently deletes a single record by its ID. This action is irreversible — the record's data and metadata are removed. The configuration and all other records are unaffected.",
                "operationId": "deleteRecord",
                "tags": [
                    "Records"
                ],
                "x-resource-type": "service",
                "responses": {
                    "200": {
                        "description": "Record deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "body": {
                                                    "$ref": "#/components/schemas/SuccessMessage"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "RecordPropType": {
                "type": "string",
                "description": "Allowed JSON primitive/composite types for a schema field.",
                "enum": [
                    "string",
                    "number",
                    "integer",
                    "boolean",
                    "object",
                    "array",
                    "null"
                ]
            },
            "FormatterType": {
                "type": "string",
                "description": "Display formatter applied when rendering a field value.",
                "enum": [
                    "text",
                    "number",
                    "currency",
                    "percent",
                    "date",
                    "datetime",
                    "time",
                    "boolean"
                ]
            },
            "FieldUi": {
                "type": "object",
                "description": "Renderer hints that control how a field is presented in form views.",
                "properties": {
                    "inputType": {
                        "$ref": "#/components/schemas/InputType"
                    },
                    "props": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Props forwarded to the input widget. `label` is required. Available props depend on `inputType`.",
                        "required": [
                            "label"
                        ],
                        "properties": {
                            "label": {
                                "type": "string",
                                "description": "Display label shown above the input. Required."
                            },
                            "placeholder": {
                                "type": "string",
                                "description": "Placeholder text shown inside the input when empty."
                            },
                            "helpText": {
                                "type": "object",
                                "description": "Optional help text rendered below the input.",
                                "properties": {
                                    "markdown": {
                                        "type": "string",
                                        "description": "Help text content in Markdown format."
                                    }
                                },
                                "additionalProperties": false
                            },
                            "options": {
                                "type": "array",
                                "description": "Choices for select / radio inputs.",
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "text",
                                        "value"
                                    ],
                                    "properties": {
                                        "text": {
                                            "type": "string",
                                            "description": "Human-readable label for the option."
                                        },
                                        "value": {
                                            "type": "string",
                                            "description": "Machine value submitted when this option is selected."
                                        },
                                        "note": {
                                            "type": "string",
                                            "description": "Optional extra description shown alongside the option."
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            },
                            "sort": {
                                "type": "boolean",
                                "description": "When `true`, options are sorted alphabetically before rendering."
                            },
                            "minDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Earliest selectable date (ISO 8601). Applies to `date` / `datetime` inputs."
                            },
                            "maxDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Latest selectable date (ISO 8601). Applies to `date` / `datetime` inputs."
                            },
                            "min": {
                                "type": "number",
                                "description": "Minimum allowed numeric value. Applies to `number` / `currency` inputs."
                            },
                            "max": {
                                "type": "number",
                                "description": "Maximum allowed numeric value. Applies to `number` / `currency` inputs."
                            },
                            "decimalPlace": {
                                "type": "integer",
                                "description": "Number of decimal places displayed. Applies to `currency` inputs."
                            }
                        }
                    }
                },
                "additionalProperties": false
            },
            "FieldFormatter": {
                "type": "object",
                "description": "Formatter applied when displaying a field value.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/FormatterType"
                    },
                    "props": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Extra props forwarded to the formatter."
                    }
                },
                "additionalProperties": false
            },
            "FieldDisplay": {
                "type": "object",
                "description": "Display configuration embedded in a schema field.",
                "properties": {
                    "formatter": {
                        "$ref": "#/components/schemas/FieldFormatter"
                    }
                },
                "additionalProperties": false
            },
            "RecordSchemaField": {
                "type": "object",
                "description": "Definition of a single field at any depth of the schema tree. Recurses via `properties` (objects) and `items` (arrays). Renderer hints (`ui`, `display`) are embedded at every level.",
                "required": [
                    "type",
                    "ui"
                ],
                "properties": {
                    "type": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/RecordPropType"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/RecordPropType"
                                },
                                "uniqueItems": true
                            }
                        ],
                        "description": "JSON type(s) for this field. Use an array to allow multiple types (e.g. [\"string\", \"null\"])."
                    },
                    "label": {
                        "type": "string",
                        "description": "Human-readable label shown in UI."
                    },
                    "title": {
                        "type": "string",
                        "description": "JSON Schema title."
                    },
                    "description": {
                        "type": "string"
                    },
                    "minimum": {
                        "type": "number"
                    },
                    "maximum": {
                        "type": "number"
                    },
                    "exclusiveMinimum": {
                        "type": "number"
                    },
                    "exclusiveMaximum": {
                        "type": "number"
                    },
                    "minLength": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "maxLength": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "pattern": {
                        "type": "string"
                    },
                    "format": {
                        "type": "string"
                    },
                    "enum": {
                        "type": "array",
                        "items": {}
                    },
                    "default": {},
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/RecordSchemaField"
                        },
                        "description": "Nested field definitions for object-typed fields."
                    },
                    "required": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "uniqueItems": true,
                        "description": "Names of required nested fields. Only meaningful when `type` is \"object\"."
                    },
                    "items": {
                        "$ref": "#/components/schemas/RecordSchemaField",
                        "description": "Item schema for array-typed fields."
                    },
                    "ui": {
                        "$ref": "#/components/schemas/FieldUi",
                        "description": "Custom UI settings for form rendering. Not part of standard JSON Schema."
                    },
                    "display": {
                        "$ref": "#/components/schemas/FieldDisplay"
                    }
                },
                "additionalProperties": false
            },
            "RecordSchema": {
                "type": "object",
                "description": "A JSON Schema document describing the record structure. Always a top-level object. UI and display hints (`ui`, `display`) are embedded directly in each field definition.",
                "required": [
                    "type",
                    "properties"
                ],
                "properties": {
                    "$schema": {
                        "type": "string",
                        "description": "Optional JSON Schema dialect URI (e.g. \"https://json-schema.org/draft/2020-12/schema\")."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "object"
                        ],
                        "description": "Must be \"object\" — a record schema always describes a top-level object."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/RecordSchemaField"
                        },
                        "description": "Top-level field definitions keyed by field name."
                    },
                    "required": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "uniqueItems": true,
                        "description": "Names of required top-level fields."
                    }
                },
                "additionalProperties": false
            },
            "ViewGridProps": {
                "type": "object",
                "description": "CSS Grid container properties.",
                "required": [
                    "gridTemplateColumns"
                ],
                "properties": {
                    "gridTemplateColumns": {
                        "type": "string",
                        "description": "CSS grid-template-columns value (e.g. \"1fr 1fr\", \"repeat(3, 1fr)\")."
                    },
                    "gap": {
                        "type": "number",
                        "description": "Gap between grid cells in pixels."
                    }
                },
                "additionalProperties": false
            },
            "ViewGridNode": {
                "type": "object",
                "description": "A grid layout container that arranges child nodes in CSS grid columns.",
                "required": [
                    "type",
                    "props",
                    "children"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "grid"
                        ]
                    },
                    "props": {
                        "$ref": "#/components/schemas/ViewGridProps"
                    },
                    "children": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ViewNode"
                        }
                    },
                    "rules": {
                        "type": "array",
                        "description": "Conditional rules for this container. Only the `visible` property is honoured on a grid.",
                        "items": {
                            "$ref": "#/components/schemas/ElementRule"
                        }
                    }
                },
                "additionalProperties": false
            },
            "ViewFieldNode": {
                "type": "object",
                "description": "A leaf node that binds an input to a schema field via a dotted path. Input config lives here on the node \u2014 `inputType`, `props`, and `rules` \u2014 not on the schema, so one schema can back several forms with different configs. Omit `inputType` to accept the type default (string\u2192text, number/integer\u2192number, boolean\u2192toggle, array\u2192tags, object\u2192key-value).",
                "required": [
                    "type",
                    "field"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "field"
                        ]
                    },
                    "field": {
                        "type": "string",
                        "description": "Dotted path to the schema field (e.g. \"name\", \"address.city\"). The property key is `field` \u2014 a `ref` key is ignored."
                    },
                    "inputType": {
                        "$ref": "#/components/schemas/InputType"
                    },
                    "props": {
                        "$ref": "#/components/schemas/FieldProps"
                    },
                    "rules": {
                        "type": "array",
                        "description": "Conditional rules for this field. Field nodes support all five rule properties.",
                        "items": {
                            "$ref": "#/components/schemas/ElementRule"
                        }
                    }
                },
                "additionalProperties": false,
                "example": {
                    "type": "field",
                    "field": "address.city",
                    "inputType": "text",
                    "props": {
                        "label": "City"
                    }
                }
            },
            "FieldProps": {
                "type": "object",
                "additionalProperties": true,
                "description": "Display / configuration props forwarded to the input widget. `label` should always be set. Which props apply depends on the input type (e.g. `options`/`sort` for dropdown, `min`/`max`/`decimalPlace` for number/currency, `minDate`/`maxDate` for date, `includedCountries`/`showNativeName` for country, `maxItems` for multi-select).",
                "properties": {
                    "label": {
                        "type": "string",
                        "description": "Display label shown above/beside the input. Always set this."
                    },
                    "placeholder": {
                        "type": "string",
                        "description": "Placeholder text shown inside the input when empty."
                    },
                    "helpText": {
                        "type": "object",
                        "description": "Optional help text rendered below the input.",
                        "properties": {
                            "markdown": {
                                "type": "string",
                                "description": "Help text content in Markdown format."
                            }
                        },
                        "additionalProperties": false
                    },
                    "options": {
                        "type": "array",
                        "description": "Choices for dropdown / multi-select / multi-toggle. Seed from the schema field's enum.",
                        "items": {
                            "type": "object",
                            "required": [
                                "text",
                                "value"
                            ],
                            "properties": {
                                "text": {
                                    "type": "string",
                                    "description": "Human-readable label for the option."
                                },
                                "value": {
                                    "type": "string",
                                    "description": "Machine value submitted when this option is selected."
                                },
                                "note": {
                                    "type": "string",
                                    "description": "Optional extra description shown alongside the option."
                                }
                            },
                            "additionalProperties": false
                        }
                    },
                    "sort": {
                        "type": "boolean",
                        "description": "When `true`, options are sorted alphabetically before rendering."
                    },
                    "minDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Earliest selectable date (ISO 8601). Applies to `date` / `date-range` inputs."
                    },
                    "maxDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Latest selectable date (ISO 8601). Applies to `date` / `date-range` inputs."
                    },
                    "min": {
                        "type": "number",
                        "description": "Minimum allowed numeric value. Applies to `number` / `currency` / `slider` inputs."
                    },
                    "max": {
                        "type": "number",
                        "description": "Maximum allowed numeric value. Applies to `number` / `currency` / `slider` inputs."
                    },
                    "decimalPlace": {
                        "type": "integer",
                        "description": "Number of decimal places displayed. Applies to `number` / `currency` inputs."
                    },
                    "maxItems": {
                        "type": "integer",
                        "description": "Maximum number of selections. Applies to `multi-select`."
                    },
                    "includedCountries": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Restrict the country list to these ISO codes (e.g. [\"uk\",\"ua\"]). Applies to `country` / `multi-country`."
                    },
                    "showNativeName": {
                        "type": "boolean",
                        "description": "Show each country's native name. Applies to `country` / `multi-country`."
                    }
                }
            },
            "RuleProperty": {
                "type": "string",
                "description": "The element property a rule drives. Field nodes support all five; grid (container) nodes support `visible` only.",
                "enum": [
                    "visible",
                    "required",
                    "disabled",
                    "readonly",
                    "value"
                ]
            },
            "ElementRule": {
                "type": "object",
                "description": "A conditional rule attached to a view node. `logic` is a json-logic-engine expression evaluated against the live form value (`{ \"var\": \"FieldPath\" }` reads another field; dotted paths allowed); at the form root it reads the whole record, and inside an array-field item it reads that item. `logic` may also be a bare boolean for an unconditional state. The result sets `property` (booleans are coerced; `value` keeps the raw computed value).",
                "required": [
                    "id",
                    "property",
                    "logic"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Convention \"<FieldPath>.<property>\", e.g. \"email.required\"."
                    },
                    "property": {
                        "$ref": "#/components/schemas/RuleProperty"
                    },
                    "logic": {
                        "description": "A json-logic-engine expression object, or a boolean.",
                        "oneOf": [
                            {
                                "type": "object"
                            },
                            {
                                "type": "boolean"
                            }
                        ]
                    },
                    "description": {
                        "type": "string",
                        "description": "One plain-English sentence describing the condition and outcome. Does not affect evaluation."
                    }
                },
                "additionalProperties": true
            },
            "ViewArrayFieldNode": {
                "type": "object",
                "description": "A repeating container bound to an array-of-object schema field. `children` is a template of view nodes for one item; each child's `field` is element-relative \u2014 resolved against the array field's `items.properties`, not the top-level schema (e.g. for array field \"products\", a child field \"title\" means \"products[].title\", not \"products.title\"). `props` (label, required, minItems, maxItems, collapsible, defaultCollapsed) is UI-only and not enforced server-side; array size limits still come from the schema field's own JSON Schema `minItems`/`maxItems` if set there.",
                "required": [
                    "type",
                    "field",
                    "children"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "array-field"
                        ]
                    },
                    "field": {
                        "type": "string",
                        "description": "Dotted path to an array-of-object schema field."
                    },
                    "props": {
                        "type": "object",
                        "description": "UI-only container config: label, required (at least one item), minItems, maxItems, collapsible, defaultCollapsed."
                    },
                    "children": {
                        "type": "array",
                        "description": "View nodes for one item, with element-relative `field` refs. Child field nodes carry their own node-level inputType/props/rules.",
                        "items": {
                            "$ref": "#/components/schemas/ViewNode"
                        }
                    },
                    "rules": {
                        "type": "array",
                        "description": "Reserved \u2014 array-field rules are not evaluated yet. Put rules on the child field nodes instead.",
                        "items": {
                            "$ref": "#/components/schemas/ElementRule"
                        }
                    }
                },
                "additionalProperties": false,
                "example": {
                    "type": "array-field",
                    "field": "products",
                    "props": {
                        "label": "Products",
                        "itemLabel": "Product",
                        "required": true,
                        "minItems": 1
                    },
                    "children": [
                        {
                            "type": "field",
                            "field": "title",
                            "inputType": "text",
                            "props": {
                                "label": "Title"
                            }
                        },
                        {
                            "type": "field",
                            "field": "price",
                            "inputType": "currency",
                            "props": {
                                "label": "Price",
                                "min": 0,
                                "decimalPlace": 2
                            }
                        }
                    ]
                }
            },
            "ViewTableColumn": {
                "type": "object",
                "description": "A column descriptor in a table view.",
                "required": [
                    "field",
                    "order"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "Schema field key this column displays."
                    },
                    "order": {
                        "type": "integer",
                        "description": "Display order of this column (ascending)."
                    }
                },
                "additionalProperties": false
            },
            "ViewTableNode": {
                "type": "object",
                "description": "A table view that lists columns to display and their order.",
                "required": [
                    "type",
                    "columns"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "table"
                        ]
                    },
                    "columns": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ViewTableColumn"
                        }
                    }
                },
                "additionalProperties": false
            },
            "ViewNode": {
                "description": "A node in the view tree — a grid container, a field leaf, an array-field repeater, or a table.",
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/ViewGridNode"
                    },
                    {
                        "$ref": "#/components/schemas/ViewFieldNode"
                    },
                    {
                        "$ref": "#/components/schemas/ViewArrayFieldNode"
                    },
                    {
                        "$ref": "#/components/schemas/ViewTableNode"
                    }
                ]
            },
            "RecordForm": {
                "type": "object",
                "description": "One named form for a config: metadata plus a grid layout tree. `id` is unique within the config and appears in the app URL; a migrated legacy single form always gets id \"default\".",
                "required": [
                    "id",
                    "title",
                    "layout"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique within the config."
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "layout": {
                        "$ref": "#/components/schemas/ViewGridNode"
                    }
                },
                "additionalProperties": false
            },
            "RecordViews": {
                "type": "object",
                "description": "UI layout definitions for different rendering contexts. `forms` (multiple named forms) is the current model. `form` (singular) is a deprecated legacy single form \u2014 the server still accepts it, but it is migrated to `forms: [{ id: \"default\", ... }]` on read.",
                "properties": {
                    "forms": {
                        "type": "array",
                        "description": "Current model \u2014 multiple named forms per config.",
                        "items": {
                            "$ref": "#/components/schemas/RecordForm"
                        }
                    },
                    "form": {
                        "$ref": "#/components/schemas/ViewGridNode",
                        "deprecated": true,
                        "description": "Deprecated legacy single form. Use `forms` instead."
                    },
                    "table": {
                        "$ref": "#/components/schemas/ViewTableNode"
                    }
                },
                "additionalProperties": false
            },
            "RecordConfig": {
                "type": "object",
                "required": [
                    "name",
                    "schema",
                    "views"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9_-]+$",
                        "description": "Unique identifier. Immutable after creation. Allowed characters: alphanumeric, underscore, hyphen."
                    },
                    "name": {
                        "type": "string",
                        "description": "Human-readable name for this configuration."
                    },
                    "description": {
                        "type": "string",
                        "description": "Optional longer description of what this configuration represents."
                    },
                    "label": {
                        "type": "string",
                        "description": "Optional short label, e.g. for UI badges or tabs."
                    },
                    "schema": {
                        "$ref": "#/components/schemas/RecordSchema"
                    },
                    "views": {
                        "$ref": "#/components/schemas/RecordViews"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "ISO 8601 timestamp set automatically on creation."
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "ISO 8601 timestamp updated automatically on every modification."
                    }
                },
                "example": {
                    "id": "xI6ylDQ50C63v7pAsXMbJ",
                    "name": "TEST",
                    "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                            "FirstName": {
                                "type": "string",
                                "title": "First name",
                                "minLength": 1,
                                "maxLength": 80,
                                "ui": {
                                    "inputType": "text",
                                    "props": {
                                        "label": "First name"
                                    }
                                }
                            },
                            "LastName": {
                                "type": "string",
                                "title": "Last name",
                                "minLength": 1,
                                "maxLength": 80,
                                "ui": {
                                    "inputType": "text",
                                    "props": {
                                        "label": "Last Name"
                                    }
                                }
                            },
                            "Email": {
                                "type": "string",
                                "title": "Email",
                                "ui": {
                                    "inputType": "text",
                                    "props": {
                                        "label": "Email"
                                    }
                                }
                            },
                            "Role": {
                                "type": "string",
                                "title": "Role",
                                "ui": {
                                    "inputType": "dropdown",
                                    "props": {
                                        "label": "Role",
                                        "options": [
                                            {
                                                "text": "Developer",
                                                "value": "dev"
                                            },
                                            {
                                                "text": "Admin",
                                                "value": "admin"
                                            },
                                            {
                                                "text": "Designer",
                                                "value": "designer"
                                            }
                                        ]
                                    }
                                }
                            },
                            "Price": {
                                "type": "number",
                                "display": {
                                    "formatter": {
                                        "type": "currency",
                                        "props": {
                                            "currency": "USD"
                                        }
                                    }
                                },
                                "ui": {
                                    "inputType": "currency",
                                    "props": {
                                        "label": "Price",
                                        "min": 10,
                                        "max": 100
                                    }
                                }
                            },
                            "CreatedAt": {
                                "type": "string",
                                "title": "Created at",
                                "display": {
                                    "formatter": {
                                        "type": "date",
                                        "props": {
                                            "dateFormat": "yyyy-MM-dd"
                                        }
                                    }
                                },
                                "ui": {
                                    "inputType": "date",
                                    "props": {
                                        "label": "Created At"
                                    }
                                }
                            },
                            "Address": {
                                "type": "object",
                                "title": "Address",
                                "properties": {
                                    "City": {
                                        "type": "string",
                                        "title": "City",
                                        "ui": {
                                            "inputType": "text",
                                            "props": {
                                                "label": "City"
                                            }
                                        }
                                    },
                                    "Country": {
                                        "type": "string",
                                        "title": "Country",
                                        "ui": {
                                            "inputType": "country",
                                            "props": {
                                                "label": "Country"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "required": [
                            "Email",
                            "FirstName",
                            "LastName"
                        ]
                    },
                    "views": {
                        "form": {
                            "type": "grid",
                            "props": {
                                "gridTemplateColumns": "1fr"
                            },
                            "children": [
                                {
                                    "type": "grid",
                                    "props": {
                                        "gridTemplateColumns": "1fr 1fr"
                                    },
                                    "children": [
                                        {
                                            "type": "field",
                                            "field": "FirstName"
                                        },
                                        {
                                            "type": "field",
                                            "field": "LastName"
                                        }
                                    ]
                                },
                                {
                                    "type": "grid",
                                    "props": {
                                        "gridTemplateColumns": "1fr 1fr"
                                    },
                                    "children": [
                                        {
                                            "type": "field",
                                            "field": "Address.Country"
                                        },
                                        {
                                            "type": "field",
                                            "field": "Address.City"
                                        }
                                    ]
                                },
                                {
                                    "type": "grid",
                                    "props": {
                                        "gridTemplateColumns": "1fr 1fr"
                                    },
                                    "children": [
                                        {
                                            "type": "field",
                                            "field": "Email"
                                        },
                                        {
                                            "type": "field",
                                            "field": "Role"
                                        }
                                    ]
                                },
                                {
                                    "type": "grid",
                                    "props": {
                                        "gridTemplateColumns": "1fr 1fr"
                                    },
                                    "children": [
                                        {
                                            "type": "field",
                                            "field": "CreatedAt"
                                        },
                                        {
                                            "type": "field",
                                            "field": "Price"
                                        }
                                    ]
                                }
                            ]
                        },
                        "table": {
                            "type": "table",
                            "columns": [
                                {
                                    "field": "Email",
                                    "order": 0
                                },
                                {
                                    "field": "FirstName",
                                    "order": 1
                                },
                                {
                                    "field": "LastName",
                                    "order": 2
                                },
                                {
                                    "field": "CreatedAt",
                                    "order": 3
                                },
                                {
                                    "field": "Price",
                                    "order": 4
                                }
                            ]
                        }
                    },
                    "created_at": "2026-05-18T09:10:19Z",
                    "updated_at": "2026-05-18T10:58:20Z"
                }
            },
            "InputType": {
                "type": "string",
                "description": "Input widget type for form rendering.",
                "enum": [
                    "array",
                    "checkbox",
                    "country",
                    "currency",
                    "date",
                    "date-range",
                    "dropdown",
                    "key-value",
                    "multi-country",
                    "multi-select",
                    "multi-toggle",
                    "number",
                    "phone",
                    "slider",
                    "tags",
                    "text",
                    "textarea",
                    "toggle"
                ]
            },
            "RecordConfigCreate": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "schema",
                    "views"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9_-]+$",
                        "description": "Unique identifier. Must be unique across all configurations. Allowed characters: alphanumeric, underscore, hyphen."
                    },
                    "name": {
                        "type": "string",
                        "description": "Human-readable name for this configuration."
                    },
                    "description": {
                        "type": "string",
                        "description": "Optional longer description."
                    },
                    "label": {
                        "type": "string",
                        "description": "Optional short label."
                    },
                    "schema": {
                        "$ref": "#/components/schemas/RecordSchema"
                    },
                    "views": {
                        "$ref": "#/components/schemas/RecordViews"
                    }
                },
                "example": {
                    "id": "customer_feedback",
                    "name": "Customer Feedback",
                    "description": "Feedback submissions from customers",
                    "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                            "rating": {
                                "type": "number",
                                "title": "Rating",
                                "description": "Rating (1–5)",
                                "display": {
                                    "formatter": {
                                        "type": "number"
                                    }
                                }
                            },
                            "category": {
                                "type": "string",
                                "title": "Category",
                                "enum": [
                                    "bug",
                                    "feature",
                                    "general"
                                ],
                                "ui": {
                                    "inputType": "dropdown",
                                    "props": {
                                        "label": "Category"
                                    }
                                }
                            },
                            "comment": {
                                "type": "string",
                                "title": "Comment"
                            }
                        },
                        "required": [
                            "rating",
                            "category"
                        ]
                    },
                    "views": {
                        "form": {
                            "type": "grid",
                            "props": {
                                "gridTemplateColumns": "1fr"
                            },
                            "children": [
                                {
                                    "type": "grid",
                                    "props": {
                                        "gridTemplateColumns": "1fr 1fr"
                                    },
                                    "children": [
                                        {
                                            "type": "field",
                                            "field": "rating"
                                        },
                                        {
                                            "type": "field",
                                            "field": "category"
                                        }
                                    ]
                                },
                                {
                                    "type": "field",
                                    "field": "comment"
                                }
                            ]
                        },
                        "table": {
                            "type": "table",
                            "columns": [
                                {
                                    "field": "rating",
                                    "order": 0
                                },
                                {
                                    "field": "category",
                                    "order": 1
                                },
                                {
                                    "field": "comment",
                                    "order": 2
                                }
                            ]
                        }
                    }
                }
            },
            "RecordConfigUpdate": {
                "type": "object",
                "description": "All fields are optional. Omitted fields are left unchanged. Schema changes do not retroactively affect existing records.",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Updated human-readable name."
                    },
                    "description": {
                        "type": "string",
                        "description": "Updated description."
                    },
                    "label": {
                        "type": "string",
                        "description": "Updated label."
                    },
                    "schema": {
                        "$ref": "#/components/schemas/RecordSchema"
                    },
                    "views": {
                        "$ref": "#/components/schemas/RecordViews"
                    }
                },
                "example": {
                    "name": "Customer Feedback v2",
                    "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                            "rating": {
                                "type": "number",
                                "title": "Rating",
                                "description": "Rating (1–5)",
                                "display": {
                                    "formatter": {
                                        "type": "number"
                                    }
                                }
                            },
                            "category": {
                                "type": "string",
                                "title": "Category",
                                "enum": [
                                    "bug",
                                    "feature",
                                    "general",
                                    "other"
                                ],
                                "ui": {
                                    "inputType": "dropdown",
                                    "props": {
                                        "label": "Category"
                                    }
                                }
                            },
                            "comment": {
                                "type": "string",
                                "title": "Comment"
                            }
                        },
                        "required": [
                            "rating",
                            "category"
                        ]
                    }
                }
            },
            "RecordConfigList": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecordConfig"
                        }
                    },
                    "results_total": {
                        "type": "integer",
                        "description": "Total number of record configurations."
                    }
                }
            },
            "Record": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier. Auto-generated if not provided on creation."
                    },
                    "config_id": {
                        "type": "string",
                        "description": "ID of the RecordConfig that defines this record's schema."
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Key-value map of field values. Keys correspond to SchemaField IDs. Values must match the field type defined in the schema. Extra keys not defined in the schema are permitted."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "ISO 8601 timestamp set automatically on creation."
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "ISO 8601 timestamp updated automatically on every modification."
                    }
                }
            },
            "RecordCreate": {
                "type": "object",
                "required": [
                    "data"
                ],
                "description": "The config_id is taken from the URL path and does not need to be repeated in the body.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Optional explicit ID. A random ID is generated if omitted."
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Field values validated against the configuration schema. Required schema fields must be present. Values are type-checked: text/rich_text/date → string, number → float, checkbox → boolean, dropdown → one of the configured options. Null values are accepted for optional fields. Extra keys not in the schema are allowed."
                    },
                    "space_id": {
                        "type": "string",
                        "description": "Optional space ID to associate the record with a specific space."
                    },
                    "folder": {
                        "type": "string",
                        "description": "Optional folder to organize the record into."
                    }
                },
                "example": {
                    "data": {
                        "rating": 4.5,
                        "category": "feature",
                        "comment": "<p>Great product, would love dark mode.</p>"
                    }
                }
            },
            "RecordUpdate": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Fields to update. Merged into the existing record data (partial update). The merged result is validated against the current schema."
                    },
                    "space_id": {
                        "type": "string",
                        "description": "Optional space ID to associate the record with a specific space."
                    },
                    "folder": {
                        "type": "string",
                        "description": "Optional folder to organize the record into."
                    }
                },
                "example": {
                    "data": {
                        "rating": 5,
                        "comment": "<p>They added dark mode!</p>"
                    }
                }
            },
            "RecordList": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Record"
                        }
                    },
                    "results_total": {
                        "type": "integer",
                        "description": "Total number of records for this configuration."
                    },
                    "total_hits": {
                        "type": "integer",
                        "description": "Total number of records matching the query, independent of `limit`/`offset` paging."
                    }
                }
            },
            "Response": {
                "type": "object",
                "properties": {
                    "status_code": {
                        "type": "integer",
                        "description": "HTTP status code echoed in the response body."
                    },
                    "body": {
                        "type": "object",
                        "description": "Response payload."
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "status_code": {
                        "type": "integer"
                    },
                    "body": {
                        "type": "object",
                        "properties": {
                            "error": {
                                "type": "string",
                                "description": "Human-readable error message."
                            }
                        }
                    }
                },
                "example": {
                    "status_code": 400,
                    "body": {
                        "error": "field 'rating' is required"
                    }
                }
            },
            "SuccessMessage": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "enum": [
                            "success"
                        ]
                    }
                },
                "example": {
                    "message": "success"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT Authorization header using the Bearer scheme"
            },
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Api-Key"
            }
        }
    },
    "tags": [
        {
            "name": "Record Configs",
            "description": "Manage record configuration schemas. Each configuration defines the structure (fields, types, validation rules) that records must conform to."
        },
        {
            "name": "Records",
            "description": "Manage individual data records. Each record belongs to exactly one configuration and its data is validated against that configuration's schema."
        }
    ]
}